{extends file="../Shared/singapp.master.html"}
{block name=bodycontent}
<h3>Modules</h3>
<p>This demo use FileUpload class at Modules\Common\FileHandler\FileUpload<br>
  and CSVFileReader class at Modules\Common\CSVFileHandler\CSVFileReader.<br>
<p>
    <h5>File CSV Upload Demo </h5>
    {if isset($csvResult)}       
    <table class="table table-stripped">
      <thead>
        <tr>
          {foreach from=$csvResult["header"] item=headerItem}
          <th>{$headerItem}</th>
          {/foreach}
        </tr>
      </thead>
      <tbody>
        {foreach from=$csvResult["data"] item=dataItem}
        <tr>
          {foreach from=$dataItem item=columnItem}
          <td>{$columnItem}</td>
          {/foreach}
        </tr>
        {/foreach}
      </tbody>
    </table>
    {else}
    <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <input type="file" accept=".csv" name="fileUpload" class="form-control-file" id="fileUploadSample">
        </div>
        <button type="submit" class="btn btn-success"><i class="fa fa-upload"></i> Submit</button>
      </form>
    {/if}
</p>
{/block}  
{block name=scriptcontent}

{/block}  
