{extends file="../Shared/info.singapp.html"}
{block name=bodycontent}
<style>
  .xy-center {    
    margin: auto;    
  }
</style>
<div class="row justify-content-center">
  <div class="col-xl-8 col-md-10">
    <div class="widget card-group">
      <div class="card">
        <form class="card-body" action="{$baseUrl}/registration" method="POST">
          <h1>Registration</h1>
          <p class="text-muted">Create your account </p>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" ><i class="fa fa-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Username" name="user_name" value="{$user_name}">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" ><i class="fa fa-envelope"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Email" name="user_email" value="{$user_email}">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" ><i class="fa fa-envelope"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Repeat Email" name="user_email_repeat" >
          </div>
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text" ><i class="fa fa-lock"></i></span>
            </div>
            <input type="password" class="form-control" placeholder="Password" name="user_password_new" >
          </div>
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text" ><i class="fa fa-lock"></i></span>
            </div>
            <input type="password" class="form-control" placeholder="Repeat Password" name="user_password_repeat" >
          </div>
          <div class="input-group mb-4">                
            <img class="captcha" src='{$baseUrl}/auth/captcha'>
          </div>
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text" ><i class="fa fa-key"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Enter Above Captcha Code" name="captcha" >
          </div>
          <div class="row">
            <div class="col-6">
              <button type="submit" class="btn btn-success px-4" name="register" value="Register">Register</button>
            </div>                
          </div>
          <div class="row">
            <div class="col-12">
              {if isset($returnmessage)}
              <div class="help-block"><strong class="text-danger">{$returnmessage}</strong></div>	                
            {/if}                  
            </div>
          </div>
          <pre class="mt-2 mb-2">
User registration will create user data in users table with default user_active = 0.

If you setup the mail settings and login settings, it will send email activation to the users email entered,

if mail settings and login settings are not set properly, you still can manually set user_active to 1 to activate the user.
</pre>
        </form>
        <div class="row" style="margin-top: auto; padding: 1.25rem;">
          <div class="col-12"><a href="{$baseUrl}/home/tnc">Terms & Conditions</a></div>
        </div>
      </div>
      <div class="card text-white bg-success" style="width:44%">
        <div class="xy-center d-none d-md-block">
          <h1>Logo</h1>
        </div>
      </div>
    </div>
  </div>
</div>
{/block}